################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GP01_Week6_Camera/.vs/GP01_Week6_Camera/v15/Server/sqlite3/db.lock
